# Байткод Python
__pycache__/
*.py[cod]
*$py.class

# Дистрибутивы
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# Виртуальное окружение
venv/
ENV/
env/
.env/

# Файлы IDE
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings/

# Файлы операционной системы
.DS_Store
Thumbs.db

# Логи и временные файлы
*.log
*.tmp
.coverage
htmlcov/
.pytest_cache/
